## 데이터 선택 (loc)
이름을 이용해 원하는 row에서 원하는 columns 선택

In [1]:
import pandas as pd
df=pd.read_excel('score.xlsx',index_col='지원번호')
df

       이름   학교    키   국어   영어   수학  과학  사회        SW특기
지원번호
1     채치수  북산고  197   90   85  100  95  85      Python
2     정대만  북산고  184   40   35   50  55  25        Java
3     송태섭  북산고  168   80   75   70  80  75  Javascript
4     서태웅  북산고  187   40   60   70  75  80         NaN
5     강백호  북산고  188   15   20   10  35  10         NaN
6     변덕규  능남고  202   80  100   95  85  80           C
7     황태산  능남고  188   55   65   45  40  35      PYTHON
8     윤대협  능남고  190  100   85   90  95  95          C#

In [6]:
df.loc[1] #index 1번

이름         채치수
학교         북산고
키          197
국어          90
영어          85
수학         100
과학          95
사회          85
SW특기    Python
Name: 1, dtype: object

In [7]:
df.loc[5]

이름      강백호
학교      북산고
키       188
국어       15
영어       20
수학       10
과학       35
사회       10
SW특기    NaN
Name: 5, dtype: object

In [9]:
df.loc[1,'국어'] #1번에 해당하는 국어점수

np.int64(90)

In [11]:
df.loc[[1,2],'영어'] #index 1,2번에 해당하는 데이터

지원번호
1    85
2    35
Name: 영어, dtype: int64

In [12]:
df.loc[[1,2],['영어','수학']] #1,2q번의 영어.수학

      영어   수학
지원번호
1     85  100
2     35   50

In [14]:
df.loc[1:5,'국어':'사회'] #1~5, 국어~사회

      국어  영어   수학  과학  사회
지원번호
1     90  85  100  95  85
2     40  35   50  55  25
3     80  75   70  80  75
4     40  60   70  75  80
5     15  20   10  35  10